{% extends 'base.html' %}
{% block body %}
<div class="container p-5">
    <h3>Manage Subjects</h3>
    <br>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Subjects</th>
            <th>Actions</th>
        </tr>
    </thead>
        {% for subject in subjects %}
        <tr>
            <td>{{subject[1]}} </td>
            <td><a href="/subjects/delete/{{ subject[0] }}"><button class="btn btn-danger">Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <form action="/subjects" method="post">
            <input type="text" name="addSubj" required="required" pattern="[a-zA-Z0-9, ]+">
            <input type="submit" class="buttons" value="Add Subject">
        </form>
    </div>
    <br>
    <a href="/"><button class="btn btn-info">Back to homepage</button></a>
</div>
{% endblock %}